.custom-h3 {
  text-align: center;
  margin-bottom: 10px;
}

#printJS-iframe {
  width: 600px;
  margin: 0 auto;
  font-size: 18px;
}
#printJS-iframe header{
  text-align: center;
}
#printJS-iframe h2 {
  text-align: center;
}
